body{
    background: linear-gradient(to top right, #00000044 0%, #000000d5 100%),url("../waves.jpg");
    font-family: 'Roboto', sans-serif;
}
.vl {
    border-left: 6px solid rgb(128, 79, 0);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0%;
    left: 20%;
  }

#box-headline{
    margin-left: 3.5%;
    color:white;
}
#drop-headline{
    margin-left: 3.5%;
    color:white;
    margin-top:-50px;
}
.boxes{
  display: flex;
  flex-direction: column;  
  background: linear-gradient(to top right,#ff8a00,#da1b60);
  border: rgb(218, 223, 226) 2px solid;
  color:wheat;
  width:50%;
  height: 20%;
  padding: 4%;
  margin: 3% 0 0 3%;
  font-size: x-large;
  text-align: center;
  box-shadow: 2px 2px 2px rgb(218, 186, 127); 
  cursor: move;
  transition:all ease-in 1s;

}  
.boxes:hover{
    transform: scale(1.15);
    transform: rotateZ(360deg);
    background: linear-gradient(to top right, #28ced4 0%, #3f00b4 100%);
}

#drop_here{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width:60%;
    height: 90%;
    border: white 2px solid;
  
}
.v2 {
    border-left: 6px solid rgb(128, 79, 0);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0%;
    left: 70%;
}
#button{
    position:absolute;
    background: linear-gradient(to top right,#ff8a00,#da1b60);
    width:130px;
    height: 50px;
    padding: 10px;
    top:45%;
    left:62%;
    font-size: 1.2em;
    border-radius: 50px;
}
#button:hover{ 
    transform: scale(1.1);
}
#result{
    color:white;
}
#line1{
    position: absolute;
    border-left: 6px solid rgb(241, 241, 241);
    height: 15%;
    display: flex;
    flex-direction: column;
    left: 30%;
    top: 20%;
    z-index: -1;
    visibility: hidden;
}
#line2{
    position: absolute;
    border-left: 6px solid rgb(241, 241, 241);
    height: 15%;
    display: flex;
    flex-direction: column;
    left:30%;
    top: 40%;
    z-index: -1;
    visibility: hidden;
}
#line3{
    position: absolute;
    border-left: 6px solid rgba(241, 241, 241);
    height: 15%;
    display: flex;
    flex-direction: column;
    left:30%;
    top: 55%;
    z-index: -1;
    visibility: hidden;
}